<div class="w-100 h-100 d-flex flex-column">

  <div class="d-flex flex-column flex-fill bg-light">
    <div class="d-flex flex-row container justify-content-center">
      <div *ngFor="let d of data; let i = index; let l = last">
        <div [class.mr-1]="!l" class="sort-item" [style.height.px]="d.value * 5" [style.minWidth.px]="itemWidth"
          [class.bg-primary]="!d.active" [class.bg-success]="d.active && !d.swapping" [class.bg-danger]="d.swapping"
          [class.bg-secondary]="d.finalrun" [class.bg-warning]="d.pivot"></div>
      </div>
    </div>
  </div>


  <footer class="bg-white p-3 mat-elevation-z1">
    <div class="container footer-bar">
      <div class="left d-flex flex-row justify-content-start">
        <div class="h-100 d-flex flex-column align-items-center justify-content-center">
          <h6 class="text-secondary">{{sortingAlg.name}}</h6>
          <small class="text-muted font-weight-bold">Sorting Visualizer 2019</small>
          <small class="text-muted">copyright: clarinojd@gmail.com</small>
        </div>
      </div>
      <div class="center d-flex flex-column justify-content-center align-items-center">
        <div>
          <!-- <i class="text-muted start-btn fas fa-random fa-2x" (click)="randomize()"
            matTooltip="Shuffle array"></i>
          <ng-container *ngIf="$start | async; else stopBtn">
            <i class="fa-2x text-secondary start-btn fas fa-stop-circle" matRipple (click)="stop()"
              matTooltip="Start sorting"></i>
          </ng-container>
          <ng-template #stopBtn>
            <i class="fa-2x text-secondary start-btn fas fa-play-circle" matRipple (click)="sort(data)"
              matTooltip="Stop sorting"></i>
          </ng-template>
          <i class="text-muted start-btn fas fa-redo-alt fa-2x" (click)="reset()"
            matTooltip="Reset array"></i> -->

          <button mat-icon-button matTooltip="Shuffle array" (click)="randomize()">
            <mat-icon>shuffle</mat-icon>
          </button>

          <button mat-icon-button class="mx-4" *ngIf="!($start | async); else stopBtn" (click)="sort(data)">
            <mat-icon>play_circle_outline</mat-icon>
          </button>

          <ng-template #stopBtn>
            <button mat-icon-button class="mx-4" (click)="stop()">
              <mat-icon>pause_circle_outline</mat-icon>
            </button>
          </ng-template>

          <button mat-icon-button (click)="reset()" matTooltip="Reset array">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <div>
          <button *ngFor="let sort of availableSortingAlg; let l = last" class="btn btn-link sort-selection"
            [class.text-muted]="sort.active" [class.active]="sort.active" [disabled]="sort.active || ($start | async)"
            (click)="setSorter(sort.alg)"><small>{{ sort.name }}</small></button>
        </div>
        <!-- <div class="row">
          <small class="col-md-3 text-muted">Speed</small>
          <mat-slider min="0" max="1000" step="1" (input)="setDelay($event)" [value]="delay" color="primary"></mat-slider>
        </div>
        <div class="row">
          <small class="col-md-3 text-muted">Size</small>
          <mat-slider min="0" max="300" step="1" (input)="setItemWidth($event)" color="primary"></mat-slider>
        </div> -->
      </div>
      <div class="right">
        <div class="d-flex align-items-center justify-content-end">
          <mat-icon matTooltip="Sorting speed" class="mr-2">speed</mat-icon>
          <mat-slider min="0" max="1000" step="1" (input)="setDelay($event)" [value]="1000" color="primary">
          </mat-slider>
        </div>
        <div class="d-flex align-items-center justify-content-end">
          <mat-icon matTooltip="Element size" class="mr-2">keyboard_arrow_up</mat-icon>
          <mat-slider min="0" max="300" step="1" (input)="setItemWidth($event)" color="primary" [value]="300">
          </mat-slider>
        </div>
      </div>
    </div>
  </footer>
</div>